.mt-10 {
    margin-top: 10px;
}

.btn > i {
    vertical-align: text-top;
    font-size: 18px !important;
}

.filter-wrapper {
    width: 250px;
}

.btn-search {
    vertical-align: middle;
    font-size: 18px !important;
    line-height: 1rem;
}
.btn-add {
    vertical-align:middle;
    line-height: 1.2rem;
}

.cp-wrapper {
    width: 300px;
    height: 200px;
    border: solid 1px #777;
    position: absolute;
    bottom: 10px;
    right: 20px;
    box-shadow: 5px 10px #aaa;
    background: paleturquoise;
}

.cp-wrapper .cp-header {
    background-color: #44b1f1;
    height: 25;
    color: white;
    padding: 2px 5px;
}

.cp-wrapper .cp-body{
    display: flex;
    flex-direction: row;
}

.cp-wrapper .cp-body > div {
    border: solid 1px #999999;
    flex-grow: 1;
    padding: 5px;
    text-align: center;
}

.cp-wrapper .cp-body .cp-dtmf {
    width: 50%;
}

.cp-wrapper .cp-body .cp-dtmf .number{
    border: solid 1px #999;
    width: 32px;
    float: left;
    margin: 5px 8px;
    border-radius: 50%;
    height: 28px;
    cursor: pointer;
}

