<!doctype html>
<html lang="en" ng-app='webphone' ng-cloak>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://sipjs.com/download/sip-0.11.6.min.js"></script>
    <script src="javascripts/app.js" ></script>
    <script src="javascripts/contact.js" ></script>
    <script src="javascripts/call.js"></script>
    <title>WebPhone - CloudPBX</title>
  </head>
  <body ng-controller='ContactController as vm'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./img/XorcomLogo.png" height="30" alt="logo">
        </a>
        <h5 class="">
          <i class="material-icons" style="vertical-align:text-top">local_library</i>
          <span>DANH BẠ ĐIỆN THOẠI</span>
        </h5>

        <span>
          <!--chua register-->
          <a href='#' ng-if="!vm.isRegistered" ng-click="vm.showRegisterModal=true">Register</a>
          <!--da register-->
          <a href='#' ng-if="vm.isRegistered" ng-click="vm.unregister()">{{ vm.registerUser }} | Unregister</a>
        </span>  

      </div>
    </nav>
    
    <div class="container mt-10">
      <!-- button add -->
      <div class="text-right">
        <div class="filter-wrapper d-inline-block">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm" 
            ng-model="searchText"
            ng-keypress="vm.callByEnter($event, searchText)">
            <div class="input-group-append" ng-if="vm.isRegistered">
              <button class="btn btn-success" type="button" 
                id="btnGlobalCall" 
                ng-click="vm.callAlt(searchText)">
                  <i class="material-icons btn-search" >call</i>
              </button>
            </div>
          </div>
        </div>
      
        <div>
          <button class="btn btn-success btn-add"
          ng-click="vm.showAddContact = true">
            <i class="material-icons ">add_circle_outline</i>
            <span>Thêm</span>
          </button>
        </div>
      </div>
      <!-- contact table  -->

      <table class="table table-striped mt-10">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Addr</th>
            <th scope="col">Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "contact in vm.contacts|filter:searchText track by $index">
            <th scope="row"> {{$index +1}}  </th>
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.addr}}</td>
            <td>{{contact.number}}</td>
            <td>
              <a href="javascripts:;" href="javascript:;" ng-click="vm.call(contact)" ng-if="vm.isRegistered">
                <i class="material-icons text-success">call</i>
              </a>
              <a href="javascripts/" ng-click="vm.delete(contact)" >
                <i class="material-icons text-danger">delete</i>
              </a>
              <a href="javascripts:;" href="javascript:;">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- call pabel -->
    <div class="cp-wrapper" ng-controller="CallController as vm" ng-show="vm.callStatus!=''">
      <div class="cp-header">
        Calling 
        <span ng-show="!vm.isDialout">from</span> 
        <span ng-show="vm.isDialout">to</span>
        {{vm.callInfo.lastName}} {{vm.callInfo.firstName}} ({{ vm.callInfo.addr}}) ({{ vm.callInfo.number}})
      </div>
      <div class="cp-body">
          <div class="cp-dtmf">
            <div class = "number"
                ng-repeat ="n in ['1','2','3','4','5','6','7','8','9','*','0','#',]"
                ng-click="vm.dtmf(n)"> {{ n }}
            </div>
          </div>
            <div class="cp-actions">
              <div class="timer text-center">{{vm.duration}}</div>
              <div class="mt-10">
                <button 
                  class="btn btn-sm btn-light"
                  ng-click="vm.toggleHold()"
                  ng-class="{'active': vm.isHold, 'text-danger' : vm.isHold}">
                    <i class="material-icons">pause</i>
                </button>
                <button 
                  class="btn btn-sm btn-light"
                  ng-click="vm.toggleMute()"
                  ng-class="{'active': vm.isMute, 'text-danger' : vm.isMute}">
                    <i class="material-icons">mic_off</i>
                </button>
              </div>
                <button ng-show="vm.callStatus!='ringing' && vm.callStatus!=''"
                  class="mt-10 btn btn-danger btn-block"
                  ng-click="vm.hangup()">Kết thúc</button>
                
                <div class="mt-10" ng-show="vm.callStatus=='ringing'">
                  <button class="btn btn-success btn-sm"ng-click="vm.accept()">Nhận</button>
                  <button class="btn btn-danger btn-sm" ng-click="vm.reject()">Từ Chối</button>
                </div>
            </div>

      </div>
      <audio id="ringAudio" ng-src="{{vm.audioSrc}}" autoplay></audio> 
    </div>

        <!-- register modal-->
        <div class="modal d-block" tabindex="-1" role="dialog" ng-show="vm.showRegisterModal" ng-init="u.username='7117';u.password='akuo-kfo'" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="close" ng-click="vm.showRegisterModal=false">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                  <form name='u' ng-keypress="vm.registerByEnter($event, u)">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputEmail3" placeholder="101" ng-model="u.username">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="******" ng-model="u.password">
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="vm.showRegisterModal=false">Đóng</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.register(u)">Register</button>        
                </div>
            </div>
          </div>
        </div>
      <!-- / register modal -->

      <!-- add contact modal  -->

      <div class="addContactPanel" ng-show="vm.showAddContact">
        <div class="modal show fade d-block" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thêm liên hệ</h5>
                <button type="button" class="close" ng-click="vm.showAddContact=false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form name="c" novalidate id="form_c" ng-keypress="vm.saveByEnter($event, c)">
                  <div class="form-group row">
                    <label for="input1" class="col-sm-2 col-form-label">Họ</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="input1" name="input1" placeholder="Họ" ng-model="c.firstName" required >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="input2" class="col-sm-2 col-form-label">Tên</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="input2" placeholder="Tên" ng-model="c.lastName" aria-required="true" aria-invalid="true" required >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="input2" class="col-sm-2 col-form-label">Địa chỉ</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="input3" value="" placeholder="Số nhà, Phường, Quận, Thành phố" ng-model="c.addr" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="input3" class="col-sm-2 col-form-label" >SĐT</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="input4" placeholder="1000" ng-model="c.number" required>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="vm.showAddContact=false">Đóng</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.save(c)" id="do-search">Lưu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /add contact modal -->

    <audio id='localAudio' muted></audio>
    <audio id='remoteAudio'></audio>

  </body>
</html>